*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: url('images/back.jpg');
    padding: 10px;
}
.to-do{
    width: 100%;
    max-width: 540px;
    background-color:rgb(255, 255, 255);
    margin: 50px auto 20px;
    padding: 40px;
    border-radius: 15px;
}
.to-do h1{
    color: darkblue;
    display: flex;
    align-items: center;
    margin: 10px;
}
.to-do h1 img{
    width: 30px;
    margin-right: 10px;
}
.in{
    display: flex;
     align-items: center;
     justify-content: space-between;
     background: aliceblue;
     border-radius: 30px ;
     padding-left: 20px;
     margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background:transparent;
    padding: 10px;
    font-weight: 50px;
}
button{
    border: none;
    outline: none;
    padding: 16px 20px;
    background-color: orange;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}
ul li{
    list-style: none;
    font-size: 20px;
    margin: 8px;
    padding: 6px 5px 6px 50px;
    position: relative;
    border: 0.5px solid lightblue;
    border-radius: 20px;
}
ul li:hover{
    box-shadow: 5px 5px lightblue;
}
ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url('images/unchecked.png ');
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 12px;
}

ul li.checked{
    color: rgb(153, 255, 0);
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('images/checked.png');
}
ul li span{
    position: absolute;
    right: 10px;
    top:4px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: rgb(255, 68, 68,0.2);
    cursor: pointer;
}
